#olderitemtitle, #neweritemtitle, #relateditemtitle {
	font-weight:bold;
	text-align: left;
	color: #666;
	margin-left: 5px;
	margin-right: 5px;
}
.contentmap_tooltip{
	text-align: justify;
}
.contentmap_date{
	color: #999;
}
.contentmap_nextpage{
	margin-left: 30px;
}
.contentmap_priviuospage{
	margin-right: 30px;
}
#relateditemlist, #neweritemlist, #olderitemlist{
	margin-left: 0px;	
}
#gmap{	
	text-align:center;
}
#gmap2{
	color: #999;
	height:20px;
}



